@font-face {
    font-family: 'supply';
    src: url(./assets/fonts/GoshaSans-Ultrabold.woff2) format('woff2');
}

:root{
    --main-bg-color: #FFFFFF;
    --maximum-width: 1200px;
}

a{
    color: black;
}
p{
    font-size: 0.8rem;
}

h5{
    font-size: 1rem; 
}

h4{
    font-size: 1.25rem;
}

h3{
    font-size: 1.563rem;
}

h2{
    font-size: 1.953rem;
}

h1{
    font-size: 2.441rem;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'supply';
    letter-spacing: -0.03em;
    /* color: white; */
    list-style: none;
    text-decoration: none;
    /* font-weight: 400; */
}

.red{
    color: rgb(255, 0, 0);
}

html,body{
    scroll-behavior: smooth;
    width: 100%;
    /* height: 100%; */
    /* background-color: black;
    background: linear-gradient(#03172F,#03172F, #000000) */
    background-color: var(--main-bg-color);
}


header{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    /* background-color: rgba(0, 0, 0, 0.84); */
    z-index: 10;
    /* backdrop-filter: blur(10px); */
    background-color: white;
    border-bottom: 2px solid black;

}

.header__container{
    width: 90%;
    max-width: var(--maximum-width);
    height: 100%;
    display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav{
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.nav li a{
    color: black;
}

#hero{
    padding: 120px 0;
    display: flex;
    justify-content: center;
    /* background: linear-gradient(#FFFFFF, #FFFFFF, #03172F) ; */
    background: linear-gradient(#FFFFFF, #FFFFFF, #161616) ;
    /* text-transform: uppercase; */
}


.hero__container{
    width: 90%;
    max-width: var(--maximum-width);
}

.socials{
    display: flex;
    justify-content: space-between;
    width: 90px;
}

i{
    color: black;
    font-size: 1.5rem;
}

li a:hover, i:hover{
    color: red;
}

.hero__title{
    font-size: 4rem;
}

.contact__cta{
    position: relative;
    margin-top: 1rem;
    border: 2px solid rgb(0, 0, 0);
    width: 150px;
    padding: .5rem;
    transition: .2s;
    text-align: center;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.contact__cta:hover{
 

    background-color: rgb(255, 0, 0);
}

.contact__cta h4{
    color: black
}

.iframe__container{
    margin-top: 2rem;
    position: relative;
    left: 15%;
    width: 70%;
    padding-top: 33.75%;
    background-color: rgb(0, 0, 0);
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
   width: 100%;
   height: 100%;
   border: 10px solid rgb(0, 0, 0);

}
#band{
    padding: 100px 0 0 0;
    display: flex;
    justify-content: center;
    /* background-color: #03172F; */
    background-color: #161616;
    color: white;
}


.band__container{
    width: 90%;
    max-width: var(--maximum-width);
}

.mtb{
    margin: 1rem 0 ;
    position: relative;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* display: flex; */
}

.mtb__tiles{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 1450px;

}

.mtb__tiles::-webkit-scrollbar, 
.mtb::-webkit-scrollbar {
    display: none;
  }

.mtb__tile{
    position: relative;
    width: 310px;
}

.img__div{
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 1rem;
}



.img__div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bio{
    min-height: 200px;
}

.bio h3, .bio, h5{
    margin-bottom: .5rem;
}


#setlist{
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    /* background-color: #03172F; */
    background-color: #161616;
    color: white;
}

.setlist__container{
    width: 90%;
    max-width: var(--maximum-width);
}

.the__list{
    margin-top: 1rem;
}

#dates{
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    /* background-color: #03172F; */
    background-color: #161616;
    color: white;
}

.dates__container{
    width: 90%;
    height: 600px;
    max-width: var(--maximum-width);
}

.gig{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid white;
}

.gig > div:nth-child(1){
    flex: 1;
    text-align: left;
}
.gig > div:nth-child(2){
    flex: 1;
    text-align: center;
}
.gig > div:nth-child(3){
    flex: 1;
    text-align: right;
}


#contact{
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    /* background-color: #03172F; */
    background: linear-gradient(#161616, #000000);
    color: white;
}

.contact__container{
    width: 90%;
    height: 600px;
    max-width: var(--maximum-width);
}


@media screen and (max-width: 600px) {
  
p{
    font-size: 0.8rem;
}

h5{
    font-size: 0.8rem; 
}

h4{
    font-size: 1rem;
}

h3, .logo{
    font-size: 1.25rem;
}

h2{
    font-size: 1.563rem;
}

h1{
    font-size: 1.953rem;
}

header{
    height: 60px;
}

.nav{
    display: none;
 
}

.hero__title{
    font-size: 3rem;
}

.iframe__container{
    margin-top: 2rem;
    position: relative;
    left: 0%;
    width: 100%;
    padding-top: 56.25%;
   
}
}